img.wp-smiley,
  img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
  }

  .si_captcha_small { width:175px; height:45px; padding-top:10px; padding-bottom:10px; }
  .si_captcha_large { width:250px; height:60px; padding-top:10px; padding-bottom:10px; }
  img#si_image_com { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_reg { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_log { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_side_login { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_checkout { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_jetpack { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_bbpress_topic { border-style:none; margin:0; padding-right:5px; float:left; }
  .si_captcha_refresh { border-style:none; margin:0; vertical-align:bottom; }
  div#si_captcha_input { display:block; padding-top:15px; padding-bottom:5px; }
  label#si_captcha_code_label { margin:0; }
  input#si_captcha_code_input { width:65px; }
  p#si_captcha_code { clear: left; padding-top:10px; }
  .si-captcha-jetpack-error { color:#DC3232; }

  .si_captcha_small { width:175px; height:45px; padding-top:10px; padding-bottom:10px; }
  .si_captcha_large { width:250px; height:60px; padding-top:10px; padding-bottom:10px; }
  img#si_image_com { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_reg { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_log { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_side_login { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_checkout { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_jetpack { border-style:none; margin:0; padding-right:5px; float:left; }
  img#si_image_bbpress_topic { border-style:none; margin:0; padding-right:5px; float:left; }
  .si_captcha_refresh { border-style:none; margin:0; vertical-align:bottom; }
  div#si_captcha_input { display:block; padding-top:15px; padding-bottom:5px; }
  label#si_captcha_code_label { margin:0; }
  input#si_captcha_code_input { width:65px; }
  p#si_captcha_code { clear: left; padding-top:10px; }
  .si-captcha-jetpack-error { color:#DC3232; }

body {
  font-family: sans-serif;
  background-color: #eeeeee;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}